# Przetwarzanie plików audio i wideo
ffmpeg-python
transcriber

# Model transkrypcji Whisper
openai-whisper

# Diarization (podział na mówców)
pyannote.audio

# Obsługa PyTorch (dla modeli Whisper i pyannote)
torch
torchaudio

# Dodatkowe narzędzia (zarządzanie ścieżkami itp.)
numpy
