absl-py
aiohappyeyeballs
aiohttp
aiosignal
alembic
annotated-types
antlr4-python3-runtime
anyio
asteroid-filterbanks
astunparse
attrs
audioread
beautifulsoup4
blinker
CacheControl
cachetools
certifi
cffi
charset-normalizer
click
colorama
colorlog
colour
contourpy
cryptography
customtkinter
cycler
darkdetect
dataclasses-json
DateTime
decorator
Deprecated
dirtyjson
distro
docopt
einops
ffmpeg
ffmpeg-python
filelock
filetype
firebase-admin
Flask
Flask-Cors
Flask-SQLAlchemy
flatbuffers
fonttools
fpdf
frozenlist
fsspec
future
gast
gcloud
google-api-core
google-api-python-client
googleapis-common-protos
google-auth
google-auth-httplib2
google-cloud-core
google-cloud-firestore
google-cloud-storage
google-crc32c
google-pasta
google-resumable-media
greenlet
grpcio
grpcio-status
gunicorn
h11
h5py
httpcore
httplib2
httpx
huggingface-hub
HyperPyYAML
idna
itsdangerous
Jinja2
jiter
joblib
julius
jws
keras
kiwisolver
lazy_loader
libclang
librosa
lightning
lightning-utilities
llama-cloud
llama-index
llama-index-agent-openai
llama-index-cli
llama-index-core
llama-index-embeddings-openai
llama-index-indices-managed-llama-cloud
llama-index-legacy
llama-index-llms-openai
llama-index-multi-modal-llms-openai
llama-index-program-openai
llama-index-question-gen-openai
llama-index-readers-file
llama-index-readers-llama-parse
llama-parse
llvmlite
Mako
Markdown
markdown-it-py
MarkupSafe
marshmallow
matplotlib
mdurl
ml-dtypes
more-itertools
MouseInfo
mpmath
msgpack
mss
multidict
mypy-extensions
namex
nest-asyncio
networkx
nltk
numba
numpy
oauth2client
ollama
omegaconf
openai
openai-whisper
opencv-python
opt_einsum
optree
optuna
packaging
pandas
pillow
platformdirs
pooch
primePy
propcache
protobuf
proto-plus
psycopg2-binary
pyannote.audio
pyannote.core
pyannote.database
pyannote.metrics
pyannote.pipeline
pyasn1
pyasn1_modules
pyautogui
PyAutoGUI
pycparser
pycryptodome
pydantic
pydantic_core
pydub
PyGetWindow
Pygments
PyJWT
PyMsgBox
PyMuPDF
pyparsing
pypdf
pyperclip
Pyrebase
PyRect
pyscreenrec
PyScreeze
python-dateutil
python-dotenv
python-jwt
pytorch-lightning
pytorch-metric-learning
pytweening
pytz
PyYAML
regex
requests
requests-toolbelt
rich
rsa
ruamel.yaml
ruamel.yaml.clib
scikit-learn
scipy
semver
sentencepiece
setuptools
shellingham
six
sniffio
sortedcontainers
sounddevice
soundfile
soupsieve
soxr
speechbrain
SpeechRecognition
SQLAlchemy
striprtf
sympy
tabulate
tenacity
tensorboard
tensorboard-data-server
tensorboardX
tensorflow
tensorflow-intel
termcolor
threadpoolctl
tiktoken
tk
tkinterPdfViewer
tkmacosx
torch
torch_pitch_shift
torchaudio
torch-audiomentations
torchmetrics
torchvision
tqdm
ttkbootstrap
typer
typing_extensions
typing-inspect
tzdata
uritemplate
urllib3
Werkzeug
wheel
whisper
whispercpp
wrapt
yarl
zope.interface
google-generativeai